 <div class="columns">
      <div class="column is-four-fifths">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="search product">
          </div>
        </div>
      </div>
      <div class="column">

       <%= link to: Routes.cart_index_path(@conn, :index) do %>
          <%=number_of_product_in_cart(@conn) %>
          <p><i class="fas fa-cart-plus" aria-hidden='true'></i> Cart</p>
        <% end %>
      </div>
</div>
