<main role="main" class="container">
      <%= if flash = get_flash(@conn, :info) do %>
            <div class="is-success">
                  <%= flash %>
            </div>
      <% end %>
      <%= if flash = get_flash(@conn, :error) do %>
            <div class="is-danger" >
                  <%= flash %>
            </div>
      <% end %>
      <%= @inner_content %>
</main>
