<main role="main" class="container">
<%= if flash = live_flash(@flash, :notice) || live_flash(@flash, :info) do %>
  <div class="is-success">
    <%= flash %>
  </div>
<% end %>

<%= if flash = live_flash(@flash, :error) do %>
<div class="is-danger">

  <%= flash %>
</div>
<% end %>
   <%= @inner_content %>
</main>
